<div class="container">
    <div class="content text-center">
        <div class="row">
            <div class="col-lg-12">
              <img class="center-block" src="~/Images/SiaqodbCloud.png" />
  
            </div>
        </div>
                    <h1>SiaqodbCloud</h1>
                    <p class="lead">SiaqodbCloud is a RESTful service through which you can synchronize Siaqodb from client side( Windows, WindowsStore, Xamarin) with a server side NoSQL database like CouchDB or MongoDB.</p>
                    <p><a href="http://siaqodb.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
   </div>
</div>
